<h2>Hello Vibe Coders</h2>
<p>
  The time is now: <%= Time.now %>
</p>

<div class="about-me">
  <h3>About the Developer</h3>
  <p>My name is Billy and I like football.</p>
  <p>I live in Texas and I run the LLC BPStoresTX.</p>
</div> 